In [2]:
import pandas as pd
import textwrap
import time
from termcolor import colored
from sqlalchemy import *
from sqlalchemy.engine import create_engine
from sqlalchemy.schema import *
engine = create_engine("presto://vnbi_product:UIu5GPU2hD6g@presto-secure.idata.shopeemobile.com:443/hive", 
connect_args={'protocol': 'https', 'source': '(50)-(vnbi-prod)-(vnbi_product)-(jdbc)-(vnbi_product)-(SG)'})

In [8]:
sql = textwrap.dedent("""\

select order_id, item_id,  item_amount,create_datetime,item_price_pp, order_price_pp order_price_pp_paid, order_fe_status,gmv from mp_order.dwd_order_item_all_ent_df__vn_s0_live where item_id in (23222082512, 947234130)
       """)

print(colored("Start time: " + time.asctime( time.localtime(time.time()) ),'blue'))
sql_output = []
with engine.connect() as con:
    rs = con.execute(sql)
    for row in rs:
        sql_output.append(dict(row))
sql_output = pd.DataFrame(sql_output)
pd.set_option('display.max_columns',None)
sql_output

Start time: Wed Mar 29 14:39:46 2023

,order_id,item_id,item_amount,create_datetime,item_price_pp,order_price_pp_paid,order_fe_status,gmv
0,131992024288201,23222082512,1,2023-03-08 23:27:05,1000.0000000000,1000.0000000000,CANCELLED,33700.0000000000
1,132018064203965,23222082512,1,2023-03-09 06:41:04,1000.0000000000,1000.0000000000,CANCELLED,17500.0000000000
2,132064677242770,23222082512,1,2023-03-09 19:37:57,1000.0000000000,1000.0000000000,CANCELLED,2505.7692307692
3,132068159208540,23222082512,1,2023-03-09 20:36:00,1000.0000000000,1000.0000000000,CANCELLED,17350.0000000000
4,132026922265873,23222082512,1,2023-03-09 09:08:42,1000.0000000000,1000.0000000000,CANCELLED,33800.0000000000
...,...,...,...,...,...,...,...,...
4360,130730745223288,23222082512,1,2023-02-22 09:05:45,1000.0000000000,1000.0000000000,CANCELLED,1675.0000000000
4361,130730745223288,23222082512,1,2023-02-22 09:05:45,1000.0000000000,1000.0000000000,CANCELLED,1675.0000000000
4362,130779955215420,23222082512,1,2023-02-22 22:45:56,1000.0000000000,1000.0000000000,CANCELLED,4000.0000000000
4363,130726137246276,23222082512,1,2023-02-22 07:48:58,1000.0000000000,1000.0000000000,CANCELLED,23950.0000000000
4364,130931329225085,23222082512,1,2023-02-24 16:48:49,1000.0000000000,1000.0000000000,CANCELLED,21250.0000000000

In [9]:
sql_output.to_csv('/Users/nhat.minh/Downloads/Tram_ad_hoc_20032023.csv',index=False,encoding="utf_8_sig")